/* DEFAULT */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  min-width: 1200px;
  font-weight: 400;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.float-left {
  float: left;
}

header {
  height: 80px;
  background-color: white;
}

.w-50 {
  width: 50%;
}

.container-70 {
  width: 100%;
  padding: 0 15%;
}

.container-60 {
  width: 100%;
  padding: 0 20%;
}

.mb50 {
  margin-bottom: 50px;
}

.mb30{
  margin-bottom: 30px;
}

.pt20{
  padding-top: 20px;
}
/* /DEFAULT */

/* BUTTONS & CHECKS */

.fas.fa-check-circle {
  color: orangered;
  margin-right: 15px;
}

.btn {
  border-radius: 5px;
  padding: 10px;
}

.btn:hover, .btn.big:hover{
  background-color: rgba(204, 97, 97, 0.849);
}

.btn-gray {
  background-color: darkgray;
  color: black;
}

.btn-white {
  background-color: white;
  color: orangered;
  border: 1px solid orangered;
}

.btn-orange,
.btn.big {
  background-color: rgba(255, 79, 15, 0.733);
  color: white;
}

.btn.big {
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* /BUTTONS & CHECKS */

/* MENU */

.menu.first {
  position: fixed;
  width: 100%;
  padding: 0 15%;
  height: 80px;
  line-height: 80px;
  background-color: #f4f9fd;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid black;
  z-index: 999;
}

.menu ul li,
.box-right ul li {
  display: inline;
  list-style: none;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: black;
}

ul.right {
  float: right;
}

.menu.second {
  margin-top: 80px;
  background-color: white;
  line-height: 80px;
}

#eng{
  padding-right: 25px;
  border-right: 2px solid black;
}

/* /MENU */

/* JUMBOTRON */

.jumbotron {
  position: relative;
  height: 850px;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  border-bottom: 5px solid rgb(80, 80, 80);
}

.jumbotron:after {
  position: absolute;
  display: block;
  width: 100%;
  min-height: 100px;
  content: "";
  bottom: 0px;
  background-color: #03baa1;
  border-top: 5px solid rgb(80, 80, 80);
}

.jumbotron-text {
  padding-top: 10%;
}

.jumbotron h1 {
  font-size: 60px;
  margin-bottom: 50px;
  font-weight: 800;
  
}

p.minor{
  font-size: 12px;
}
/* /JUMBOTRON */

/* MAIN */

main {
  background-color: #f4f9fd;
  padding-bottom: 50px;
}

.box-right h3 {
  margin-bottom: 20px;
}

.cube {
  text-align: center;
  padding-top: 50px;
}

.cube img {
  height: 250px;
}

.box {
  height: 350px;
  background-color: white;
  box-shadow: 0px 0px 8px rgb(156, 129, 129);
}

.box-left {
  padding-top: 50px;
  width: 30%;
  text-align: center;
}

.box-left img {
  height: 200px;
  display: block;
  margin-left: 70px;
}

.box-right {
  width: 68%;
  padding: 50px 50px;
}

.col {
  text-align: center;
}

.col-left,
.col-right,
.col-center {
  width: calc(92% / 3);
  background-color: white;
  box-shadow: 0px 0px 8px rgb(156, 129, 129);
}

.col-center {
  margin: 0 4%;
}

.col img {
  height: 200px;
  padding: 10px 0;
}

.col ul li {
  list-style: none;
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
}

.box-right p,
.col p {
  position: relative;
}

.box-right p:after,
.col p:after {
  position: absolute;
  top: 95px;
  right: 25%;
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  border-bottom: 2px solid gray;
}

section.info {
  background-image: linear-gradient(
    to right,
    rgb(0, 117, 121),
    rgb(0, 213, 228)
  );
  color: rgb(255, 255, 255);
  text-align: center;
  padding-bottom: 50px;
}

.text {
  padding: 50px 0;
}

.text h2{
  font-weight: 600;
}

.cell img{
  height: 40px;
}

.row-one {
  border-bottom: 2px solid white;
}

.row-one h3,
.row-two h3 {
  font-size: 40px;
  padding: 10px 10px;
}

.cell h3:after{
  display: inline-block;
  content: ' \002B';
}

.cell {
  border-right: 2px solid white;
  width: calc(100% / 4);
  padding: 2% 2%;
}

.cell.last {
  border-right: none;
}

section.info-two {
  background-color: white;
}

.info-two .text {
  width: 40%;
  padding-right: 10%;
}

.info-two .sponsors {
  width: 58%;
  margin-left: 2%;
  margin-top: 65px;
}

.info-two .sponsors ul li,
.languages ul li {
  list-style: none;
  display: inline;
}

.info-two .sponsors ul li img {
  width: 150px;
  height: 60px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.info-two h2 {
  font-size: 50px;
  font-weight: 800;
}

.text-three {
  width: 40%;
}

.woman {
  text-align: right;
  width: 60%;
}

.woman img {
  height: 400px;
  float: right;
}

/* /MAIN */

/* FOOTER */

footer {
  background-color: rgb(30, 30, 92);
  color: white;
  padding-bottom: 30px;
}

.col-last {
  width: 25%;
}

.col-last ul li,
.languages ul li {
  list-style: none;
  margin: 20px 0;
}

.col-last ul li a {
  color: white;
  text-decoration: none;
}

.faq {
  padding-top: 50px;
}

.languages {
  text-align: center;
  padding-bottom: 30px;
  margin: 50px auto;
  border-bottom: 1px solid white;
}

.menu.menu-last a, .languages ul li a {
  color: white;
}

.fab {
  margin-right: 10%;
  color: white;
}

.languages ul li {
  margin-right: 20px;
}


/* /FOOTER */
