* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-width: 1200px;
}

.clearfix:after{
  content:"";
  clear:both;
  display:table;
}

.float-left{
  float: left;
}

header{
  height: 80px;
  background-color: white;
}

.w-50 {
  width: 50%;
}

.container-70{
  width: 100%;
  padding: 0 15%;
}

.container-60 {
  width: 100%;
  padding: 0 20%;
}

.mb50 {
  margin-bottom: 50px;
}

.menu.first{
  position:fixed;
  width: 100%;
  padding: 0 15%;
  height: 80px;
  line-height: 80px;
  background-color: #f4f9fd;
  top: 0px;
  left:0px;
  border-bottom: 1px solid black;
}

.menu ul li{
  display: inline;
  list-style:none;
}

.menu ul li a{
  text-decoration: none;
  color:black;
}

ul.right{
  float:right;
}

.menu.second{
  margin-top: 80px;
  background-color: white;
  line-height: 80px;
}

.jumbotron {
  height: 850px;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  border-bottom: 5px solid rgb(80, 80, 80);
}

.jumbotron-text{
  padding-top: 10%;
}

.jumbotron h1{
  font-size: 70px;
  margin-bottom: 50px;
}

main {
  background-color:  #f4f9fd;
  padding-bottom: 50px;
}

.cube {
  text-align: center;
  padding-top: 50px;
  
}

.cube img{
  height: 250px;
}

.box{
  height: 350px;
  background-color: white;
  box-shadow: 0px 0px 8px rgb(156, 129, 129);
}

.box-left {
  padding-top: 50px;
  width: 30%;
  text-align: center;
}

.box-left img{
  height: 200px;
}

.box-right{
  width:68%;
  padding: 50px 50px;
}

.col {
  text-align: center;
}

.col-left, .col-right, .col-center{
  width: calc(92% / 3);
  height: 550px;
  background-color: white;
  box-shadow: 0px 0px 8px rgb(156, 129, 129);
}

.col-center {
  margin: 0 4%;
}

.col img{
  height: 200px;
  padding: 10px 0;
}

section.info{
 /*  height: 600px; */
  background-image: linear-gradient(to right, rgb(0, 117, 121), rgb(0, 213, 228));
  color: rgb(255, 255, 255);
  text-align: center;
}

.text {
  padding: 50px 0;
}

.row-one {
  border-bottom: 2px solid white;
}

.cell {
  border-right: 2px solid white;
  width: calc(100% / 4);
  padding: 2% 2%;
}

.cell.last {
  border-right: none;
}


